In [ ]:
import time
import datetime
x = datetime.datetime.now()
print(x.strftime("%d"))

04

In [ ]:
import time
import datetime
x = datetime.datetime.now()
print(x.strftime("%s"))

1664871948

In [ ]:
import time
import datetime
x = datetime.datetime.now()
print(x.strftime("%f"))

620940

In [ ]:
import time
import datetime
x = datetime.datetime.now()
print(x.strftime("%c"))

Tue Oct  4 08:26:25 2022

In [ ]:


pi=3.14
s= "Venkata"
v= "Subhramanyam"
print("the value of s is:",s)
print("the value of v is:",v)
string_add = s+v
print("after concatenating s and v the string is:",s+v)
text = 'The value of pi is ' + str(pi)
print("NOTE: variables after '+' operator must be converted to string before using them as strings\n otherwise value will be considered as its class type")
print(text)

the value of s is: Venkata
the value of v is: Subhramanyam
after concatenating s and v the string is: VenkataSubhramanyam
NOTE: variables after '+' operator must be converted to string before using them as strings
 otherwise value will be considered as its class type
The value of pi is 3.14

In [ ]:
while(1):
  print("1. CELSIUS TO FAHRENHEIT \n2. FAHRENHEIT TO CELSIUS \n3. EXIT\n")
  choice = input("ENTER YOUR CHOICE:")
  ch = int(choice)

  if(ch == 1):
    c = int(input("ENTER TEMPERATURE IN CELSIUS:"))
    f = ((9*c)/5)+32
    print("converted temperature is:",f)

  elif(ch == 2):
      f = int(input("ENTER TEMPERATURE IN FAHRENHEIT:"))
      c = ((f-32)/9)*5
      print("converted temperature is:",c)
      
  elif(ch == 3):
        exit()
  else:
    print("wrong choice")

In [ ]:
# Assignment 1

for i in range(2):
  choice =input("Enter Your Name: ")
  A =int(input("Bill ID: "))
  B =int(input("Customer ID: "))
  C =float(input("Bill Amount: Rs. "))
  print("-----------------------")

Enter Your Name: 1
Bill ID: 1001
Customer ID: 101
Bill Amount: Rs. 199
-----------------------
Enter Your Name: B
Bill ID: 1002
Customer ID: 102
Bill Amount: Rs. 198
-----------------------

In [ ]:
# Assignment 2.a

x = int(input())
x_1 = x + 100
print(x_1)

y = float(input())
y_1 = y + 22.45
print(y_1)

z = str(input())
a = str(input())
z_1 = z + a
print(z_1)

20
120
45.45
67.9
raman
kumar
ramankumar

In [ ]:
# Assignment 2.b

int_a = 10
raw_input = int(input("Enter a number : "))
print("Type of int_a:", type(int_a))
print("Type of raw_input:", type(raw_input))
print(int_a + raw_input)

Enter a number : 20
Type of int_a: <class 'int'>
Type of raw_input: <class 'int'>
30

In [ ]:
# Assignment 2.c

print("value of e is %0.1f", 2.713)
print("Value of e is %0.2f" %2.713)
print("Programming in python: Version %d" %3.5)
print("%20s : %d" %("Python 3.0 is also known as Python", 3000.57))
x = 2
print("{0:2d}{1:3d}{2:4d}".format(x, x*x, x*x*x))

value of e is %0.1f 2.713
Value of e is 2.71
Programming in python: Version 3
Python 3.0 is also known as Python : 3000
 2  4   8

In [ ]:
# Assignment 2.d

x = int(input("No of hours worked in a week : "))
y = int(input(" Pay Rate per hour : "))
z = int(input("No. of weeks in a month : "))
Monthly_pay = x * y * z
print("Monthly Pay of Employee : ", Monthly_pay)

No of hours worked in a week : 10
 Pay Rate per hour : 20
No. of weeks in a month : 40
Monthly Pay of Employee :  8000

In [ ]:
# Assignment 2.e

num = 16
num1 = num/6
num2 = num//6
num3 = num//6.0
print(num1)
print(num2);
print(num3)

2.6666666666666665
2
2.0

In [ ]:
# Assignment 2.f

obj_x = 10
obj_y = obj_x

if (id(obj_x) == id(obj_y)):
  print("Address of obj_x and obj_y is same")
else:
  print("Address of obj_x and obj_y is not same")

Address of obj_x and obj_y is same

In [ ]:
# Assignment 2.g

obj_x = 10
obj_y = obj_x
obj_y = obj_x + 1
if (obj_x is not obj_y):
  print("obj_x and obj_y do not have same identity")
else:
  print("obj_x and obj_y have same identity")

obj_x and obj_y do not have same identity

In [32]:
# Assignment 3

for i in range(3):
  Bill_amount = float(input("Enter The Amount : "))

  if (Bill_amount >= 1000):
    print("Total discount availed : 5%")
    Bill_amount = Bill_amount * (19 / 20)
    print("The Bill amount after discount : ", Bill_amount)
  elif (Bill_amount >= 500 ):
    if (Bill_amount < 1000):
      print("Total discount availed : 2%")
      Bill_amount = Bill_amount * (49 / 50)
      print("The Bill amount after discount : ", Bill_amount)
  elif (Bill_amount > 0):
    if Bill_amount < 500:
      print("Total discount availed : 1%")
      Bill_amount = Bill_amount * (99 / 100)
      print("The Bill amount after discount : ", Bill_amount)
  else:
    print("Discount not applicable.")

Enter The Amount : 1234
Total discount availed : 5%
The Bill amount after discount :  1172.3
Enter The Amount : 3467
Total discount availed : 5%
The Bill amount after discount :  3293.6499999999996
Enter The Amount : 456
Total discount availed : 1%
The Bill amount after discount :  451.44

In [2]:
# Assignment 4.1

counter = 1

while counter <= 10:
  print(counter)
  counter += 2
print("End of program")

1
3
5
7
9
End of program

In [14]:
# Assignment 4.2

result = 0
for index in range(40, 10, -2):
  if(index % 5 == 0):
    result = result + index
    print(result)

40
70
90

In [1]:
# Assignment 4.3

count = 0
for count in range(0, 10):
  if 5 == count:
    continue
  if 10 == count:
    continue
  print(count)

0
1
2
3
4
6
7
8
9

In [21]:
# Assignments 4.4

for i in range(1, 2):
  for y in range(0, 1):
    print('1')
  print('2  4')
  for u in range(1, 2):
    for v in range(0, 1):
      print('3  6  9')
    print('4  8  12  16') 
  for t in range(1, 2):
    for s in range(0, 1):
      print('5  10  15  20  25')
    print('6  12  18  24  30  36')
  for r in range(1, 2):
    for q in range(0, 1):
      print('7  14  21  28  35  42  49')

1
2  4
3  6  9
4  8  12  16
5  10  15  20  25
6  12  18  24  30  36
7  14  21  28  35  42  49

In [19]:
for x in range(1):
  print("1")
  print("2  4")
  print("3  6   9")
  print("4  8   12  16")
  print("5  10  15  20  25")
  print("6  12  18  24  30  36")
  print("7  14  21  28  35  42  49")

1
2  4
3  6   9
4  8   12  16
5  10  15  20  25
6  12  18  24  30  36
7  14  21  28  35  42  49

In [31]:
for x in range(1, 8):
    for y in range(x, x ** 2 + 1, x):
        print (y, end = ' ')
    print('\n')

1

2 4

3 6 9

4 8 12 16

5 10 15 20 25

6 12 18 24 30 36

7 14 21 28 35 42 49